@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark --prefersdark, business 
}

/* *{
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 5% auto;
  line-height: inherit;
  display: flex;
  justify-content: center;
  max-width: 1080px;
  background-color: var(--color-dark-purple);
}

*::-webkit-scrollbar {
  display: none;
} */
main{
  height: 100%;
	display: flex;
	justify-content: center;
}