---
import ResultPage from "../molecules/ResultPage"
import '../styles/app.css'

---
<html>
  <head>
    <title>Hasil Prediksi | Sleep Detector</title>
  </head>
  <body>
    <main>
      <ResultPage client:load />
    </main>
  </body>
</html>