---
import Button from "../atoms/Button";
import Input from "../atoms/Input"
import Header from '../sections/Header'
import '../styles/app.css'
---

<main>
  <Header client:load />
  <!-- <Button label="Age" />
  <Input /> -->
</main>