---
import Button from "../atoms/Button";
import Input from "../atoms/Input"
import Header from '../sections/Header'
import SleepForm from "../molecules/SleepForm"
import '../styles/app.css'
---
<header>
  <Header client:load />
</header>
<main>
  <SleepForm client:load />
</main>