---
// const hasil = localStorage.getItem("hasil_tidur")
import '../styles/app.css'
import Button from '../atoms/Button'
---
<html>
  <head>
    <title>Hasil Prediksi | Sleep Detector</title>
  </head>
  <body>
    <main>
      <div class="flex justify-center items-center flex-col">
        <p class="text-lg font-semibold align-middle"> Belum ada data. Silahkan isi form terlebih dahulu.
          {
            // hasil ? hasil : "Belum ada data. Silahkan isi form terlebih dahulu"
          }
        </p>
        <Button label='Kembali ke Form'/>
      </div>
    </main>
  </body>
</html>